:root {
    /* Main Brand Colors */
    --primary-color: #BC6C25;     
    --secondary-color: #DDA15E;  

    /* Background Colors */
    --background-color: #FEFAE0;   
    --section-bg: #F8F1D8;       
    --card-bg: #FFFFFF;       

    /* Dark Colors */
    --dark-color: #283618;       
    --accent-color: #606C38;    

    /* Text Colors */
    --heading-color: #283618;   
    --text-color: #4A4A4A;
    --light-text: #FEFAE0;      

    /* Border & Shadow */
    --border-color: rgba(40, 54, 24, 0.15);
    --shadow: 0 10px 30px rgba(40, 54, 24, 0.12);

    /* Effects */
    --transition: all 0.3s ease;
}

/* ====NAVBAR==== */
.custom-navbar{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    z-index:1000;
     background:linear-gradient(
        135deg,
        #283618,
        #354A1F
    );
    border-bottom:1px solid rgba(255,255,255,.08);
    padding:18px 0;
    transition:.4s;
    box-shadow:0 8px 25px rgba(0,0,0,.15);
}

.custom-navbar::before{
    display:none;
}
.navbar-brand{
    color:var(--light-text);
    font-size:1.7rem;
   font-weight:700;
}

.navbar-brand:hover{
    color:var(--secondary-color);
}

.navbar-nav{
    gap:15px;
}

.nav-link{
    color:var(--light-text);
    font-weight:500;
    position:relative;
    transition:.35s;
}

.nav-link:hover{
    color:var(--secondary-color);
    transform:translateY(-3px);
}

.nav-link::after{
    content:"";
    position:absolute;
    left:50%;
    bottom:-8px;
    width:0;
    height:3px;
    border-radius:30px;
    background:var(--secondary-color);
    transition:.4s;
    transform:translateX(-50%);
}

.nav-link:hover::after,
.nav-link.active::after{
    width:70%;
}
.nav-link:hover,
.nav-link.active{
    color: var(--secondary-color) !important;
    transform: translateY(-3px);
}
.dropdown-menu{
    border:none;  
    border-radius:18px;  
    overflow:hidden;  
    padding:10px;
    box-shadow:var(--shadow);  
    animation:dropdown .35s ease;
}

.dropdown-item{
    border-radius:10px;
    padding:10px 16px;
    transition:.3s;
}

.dropdown-item:hover{
    background:var(--secondary-color);
    color:white;
    transform:translateX(5px);

}
.navbar-toggler{
    border:1px solid rgba(255,255,255,.4);
}

.navbar-toggler-icon{
    filter: invert(1);
}

.book-btn{
    padding:12px 28px;
    background:var(--primary-color);
    color:white;
    border-radius:50px;
    text-decoration:none;
    transition:.35s;
}

.book-btn:hover{
    background:var(--secondary-color);
    transform:translateY(-4px);
    color:white;
}

@keyframes dropdown{

    from{
        opacity:0;
        transform:translateY(20px);
    }

    to{
        opacity:1;
        transform:translateY(0);

    }
}
 /* === HERO === */
.details-hero{
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 150px 0 70px;
    overflow: hidden;
    background:
    linear-gradient(rgba(18,18,18,.65),rgba(18,18,18,.7)),
    url("../images/destinationsImages/detailsHero.jpg") center/cover no-repeat;

}

.hero-overlay{
    position:absolute;
    inset:0;
     background:linear-gradient(
    rgba(40, 54, 24, 0.397),
    rgba(40,54,24,.55)
  );

}

.details-hero .container{
    position:relative;
    z-index:2;

}

.hero-subtitle{

    display:inline-block;

    padding:8px 18px;
    border-radius:30px;
    background:rgba(255,255,255,.12);
    backdrop-filter:blur(10px);
    color:#FEFAE0;
    letter-spacing:2px;
    margin-bottom:20px;

}

.hero-title{
    color:white;
    font-size:64px;
    font-weight:800;
    line-height:1.1;

    margin-bottom:20px;
}

.hero-text{
    color:#f1f1f1;
    max-width:620px;
    line-height:1.8;
    font-size:18px;
    margin-bottom:35px;
}

.hero-buttons{
    display:flex;
    gap:18px;
   flex-wrap:wrap;
}

.hero-btn{
    padding:14px 34px;
    border-radius:50px;
    background:var(--primary-color);
    color:white;
    text-decoration:none;
    transition:.35s;
}

.hero-btn:hover{
    background:var(--accent-color);
    color:white;
    transform:translateY(-4px);

}

.outline-btn{
    padding:14px 34px;
    border-radius:50px;
    border:2px solid rgba(255,255,255,.4);
    color:white;
    text-decoration:none;
    transition:.35s;

}

.outline-btn:hover{
    background:white;
    color:var(--dark-color);
}

/* Stats */
.hero-stats{

    display:grid;

    grid-template-columns:repeat(2,1fr);

    gap:16px;

}

.stat{

    background:rgba(255,255,255,.12);

    backdrop-filter:blur(12px);
    border:1px solid rgba(255,255,255,.12);
    border-radius:18px;
    padding:18px;
    text-align:center;
    transition:.35s;

}

.stat:hover{
    transform:translateY(-6px);
    background:rgba(255,255,255,.18);
}

.stat h3{
    color:var(--secondary-color);
    font-size:28px;
    margin-bottom:4px;

}

.stat p{
    margin:0;
    color:white;

    font-size:14px;
}

/* Categories */

.hero-categories{
    margin-top:60px;
    display:grid;
    grid-template-columns:repeat(8,1fr);
    gap:18px;
}

.category{
    text-align:center;
    color:white;
}

.category i{
    width:56px;
    height:56px;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    margin:0 auto 10px;
    background:rgba(255,255,255,.12);
    backdrop-filter:blur(10px);
    font-size:22px;
    transition:.35s;

}

.category span{
    font-size:14px;
}

.category:hover i{

    background:var(--secondary-color);
    transform:translateY(-6px);

}

/* Responsive */
@media(max-width:992px){

.hero-title{
    font-size:48px;
}

.hero-stats{
    margin-top:40px;
}

.hero-categories{
    grid-template-columns:repeat(4,1fr);
}

}

@media(max-width:576px){

.details-hero{

    padding:130px 0 60px;

}

.hero-title{
    font-size:36px;

}

.hero-text{
    font-size:16px;
}

.hero-categories{
    grid-template-columns:repeat(2,1fr);
}

}
/* ===About === */
.about-destination{
    background:var(--background-color);
}
.about-image{
    position:relative;
    overflow:hidden;
    border-radius:25px;
}

.about-image img{
    width:100%;
    aspect-ratio:4/3;
    object-fit:cover;
    transition:var(--transition);
}
.about-image:hover img{

    transform:scale(1.05);

}



.experience-card{

    position:absolute;
    bottom:25px;
    left:25px;

    background:var(--primary-color);
    color:white;

    padding:20px 35px;
    border-radius:20px;
    box-shadow:var(--shadow);
    animation:float 3s infinite ease-in-out;

}

.experience-card h3{

    font-size:38px;
    margin:0;
    font-weight:800;

}
.experience-card p{
    margin:0;
}

.about-label{
    color:var(--primary-color);
    font-weight:700;
    letter-spacing:2px;
    text-transform:uppercase;
}
.about-destination h2{
    color:var(--heading-color);
    font-size:42px;
    font-weight:800;

}

.about-destination h2 span{

 color:var(--primary-color);

}    
.about-destination p{    
    color:var(--text-color);
    line-height:1.8;

}
.features{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:20px;
    margin-top:30px;

}

.feature-item{

    display:flex;
    align-items:center;
    gap:15px;
    padding:15px;
    background:white;
    border-radius:15px;
    transition:var(--transition);
}

.feature-item:hover{

    transform:translateY(-8px);
    box-shadow:var(--shadow);

}

.feature-item i{

    width:45px;
    height:45px;
    display:flex;
    align-items:center;
    justify-content:center;
    background:var(--section-bg);
    color:var(--primary-color);
    border-radius:50%;

}

.feature-item h6{
    margin:0;
    color:var(--dark-color);

}
.tour-btn{
    display:inline-block;
    margin-top:30px;
    background:var(--dark-color);
    color:white;
    padding:14px 35px;
    border-radius:50px;
    text-decoration:none;
    transition:var(--transition);

}

.tour-btn:hover{
    background:var(--primary-color);
    transform:translateY(-5px);
}
@media(max-width:992px){

    .about-destination h2{
        font-size:34px;
    }

    .about-image img{
        height:450px;
    }

    .experience-card{
        padding:15px 25px;
        bottom:20px;
        left:20px;
    }

    .experience-card h3{
        font-size:30px;
    }

}

@media(max-width:768px){


    .about-destination{
        text-align:center;
    }


    .about-image img{

        height:380px;

    }

    .features{

        grid-template-columns:1fr;

    }

    .feature-item{

        text-align:left;
    }


    .tour-btn{

        width:100%;
    }

}

@media(max-width:576px){

    .about-destination h2{

        font-size:28px;
    }

    .about-destination p{

        font-size:15px;
    }

    .experience-card{
      padding:12px 20px;

    }

    .experience-card h3{
        font-size:26px;

    }

}
/* Travel Information */
.travel-information{
    position:relative;
    overflow:hidden;
    background:
    linear-gradient(
        135deg,
        #283618,
        #606C38
    );

}

.travel-information .section-label{

    color:var(--secondary-color);

}

.travel-information h2{
    color:white;
}
.travel-information p{
    color:rgba(255,255,255,.75);
}


.travel-shape{
    position:absolute;
    border-radius:50%;
    filter:blur(80px);
    animation:moveShape 8s infinite alternate;

}
.shape-one{

   width:300px;
    height:300px;
    background:#BC6C25;
    top:-100px;
    left:-100px;
}
.shape-two{

    width:350px;
    height:350px;
    background:#DDA15E;
    bottom:-150px;
    right:-100px;

}

.travel-modern-card{

    background:
    rgba(255,255,255,.12);
    backdrop-filter:blur(15px);
    border:1px solid rgba(255,255,255,.2);
    padding:35px 25px;
    border-radius:25px;
    height:100%;
    text-align:center;
    transition:var(--transition);
}
.travel-modern-card:hover{
    transform:
    translateY(-15px)
    scale(1.03);
    background:white;

}


.travel-modern-card:hover h5{

    color:var(--dark-color);

}



.travel-modern-card:hover p{

    color:var(--text-color);

}

.travel-icon{

    width:70px;
    height:70px;
    margin:auto;
    display:flex;
    align-items:center;
    justify-content:center;
    background:
    linear-gradient(
        135deg,
        var(--primary-color),
        var(--secondary-color)
    );

    color:white;
    font-size:28px;
    border-radius:20px;
    margin-bottom:25px;
    transition:var(--transition);

}



.travel-modern-card:hover .travel-icon{
    transform:rotate(10deg);
}

.travel-modern-card h5{
    color:white;
    font-weight:700;
}

.travel-modern-card p{

    font-size:15px;

    line-height:1.7;

}



@keyframes moveShape{


    from{

        transform:translate(0,0);

    }

    to{
        transform:translate(50px,40px);
    }
}
/*==== location==== */
.location-section{
    background:var(--background-color);
}

.map-wrapper{
    height:480px;
    border-radius:30px;
    overflow:hidden;
    box-shadow:var(--shadow);
    position:relative;

}
.map-wrapper iframe{
    width:100%;
    height:100%;
    border:0;
}
.location-section h2{
    font-size:42px;
    font-weight:800;
    color:var(--heading-color);
}

.location-section h2 span{
    color:var(--primary-color);
}

.location-section p{

    color:var(--text-color);
    line-height:1.8;
}
.location-info{
    margin-top:30px;
}
.location-item{
    display:flex;
    align-items:center;
    gap:20px;
    padding:15px;
    margin-bottom:15px;
    background:white;
    border-radius:18px;
   transition:var(--transition);

}

.location-item:hover{
    transform:translateX(10px);
    box-shadow:var(--shadow);
}

.location-icon{
    min-width:55px;
    height:55px;
    display:flex;
    align-items:center;
    justify-content:center;
    background:var(--section-bg);
    color:var(--primary-color);
    border-radius:50%;
    font-size:22px;
}
.location-item h6{
    margin:0;
    color:var(--dark-color);
    font-weight:700;
}
.location-item p{
    margin:5px 0 0;
}

.location-btn{
    display:inline-block;
    margin-top:20px;
    padding:14px 35px;
    background:var(--dark-color);
    color:white;
    text-decoration:none;
    border-radius:50px;
    transition:var(--transition);
}
.location-btn:hover{

   background:var(--primary-color);
    transform:translateY(-5px);
}
@media(max-width:992px){
    .map-wrapper{
        height:400px;
    }
    .location-section h2{

        font-size:34px;
    }
}

@media(max-width:768px){
    .location-section{
        text-align:center;

    }
    .map-wrapper{
        height:350px;

    }


    .location-item{
        text-align:left;

    }
    .location-btn{

      width:100%;

    }
}
/* Traveler Reviews */

.traveler-reviews{

    position:relative;

    background:
    linear-gradient(
        rgba(40,54,24,.75),
        rgba(40,54,24,.75)
    ),
    url("../images/destinationsImages/travelers.jpg");
    background-size:cover;
    background-position:center;
    background-attachment:fixed;
    overflow:hidden;
}


.traveler-reviews h2{
    color:var(--secondary-color);
    font-size:42px;
    font-weight:800;
}
.traveler-reviews p{
    color: var(--light-text);
}

.review-card{
    position:relative;
    background:white;
    padding:35px 30px;
    border-radius:30px;
    height:100%;
    box-shadow:var(--shadow);
    transition:var(--transition);
    overflow:hidden;
}

.review-card:hover{
    transform:translateY(-12px);
}

.review-card::before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:5px;
    background:
    linear-gradient(
        90deg,
        var(--primary-color),
        var(--secondary-color)
    );

}

.review-top{
    display:flex;
    align-items:center;
    gap:15px;

}

.review-top img{
    width:65px;
    height:65px;
    border-radius:50%;
    object-fit:cover;
    border:3px solid var(--secondary-color);
}

.review-top h5{
    margin:0;
    color:var(--secondary-color);
    font-weight:700;

}

.review-top span{
    color:#777;
    font-size:14px;
}

.stars{
    margin:25px 0 15px;
}
.stars i{
    color:var(--secondary-color);
    margin-right:3px;
}
.review-card p{
    color:var(--text-color);
    line-height:1.8;
    font-style:italic;
}

.quote-icon{
    position:absolute;
    right:25px;
    bottom:20px;
    font-size:45px;
    color:rgba(188,108,37,.15);
}

@media(max-width:768px){
    .traveler-reviews h2{
        font-size:32px;
    }
    .review-card{
        padding:30px 20px;

    }

}
/* ====FOOTER==== */
.footer{
    background:linear-gradient(
        135deg,
        #283618,
        #354A1F
    );

    padding:70px 0 20px;

    color:var(--light-text);

}

.footer-brand{
    color:#FEFAE0;
    font-size:2rem;
    font-weight:700;
    text-decoration:none;
    display:inline-block;
    margin-bottom:20px;
    transition:.3s;

}
.footer-brand:hover{
    color:var(--secondary-color);
    transform:translateY(-3px);
}

.footer-text{
    color:rgba(254,250,224,.75);
    line-height:1.8;

}

.footer h5{

    color:var(--secondary-color);
    font-size:1.2rem;
    margin-bottom:25px;
    position:relative;

}

.footer h5::after{
    content:"";
    display:block;
    width:35px;
    height:3px;
    background:var(--primary-color);
    margin-top:8px;
    border-radius:20px;
}

.footer ul{
    list-style:none;
    padding:0;

}

.footer ul li{
    margin-bottom:14px;
}

.footer ul li a{
    color:rgba(254,250,224,.8);
    text-decoration:none;
    transition:.3s;

}

.footer ul li a:hover{
    color:var(--secondary-color);
    padding-left:8px;
}

.social-links{
    display:flex;
    gap:12px;
    margin-top:25px;

}
.social-links a{
    width:42px;
    height:42px;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:50%;
    background:rgba(221,161,94,.15);
    color:var(--light-text);
    transition:.3s;

}
.social-links a:hover{
    background:var(--primary-color);
    transform:translateY(-5px);
}
.contact-info li{
    display:flex;
    gap:12px;
    align-items:center;
    color:rgba(254,250,224,.8);

}
.contact-info i{

    color:var(--secondary-color);
}

.footer-bottom{
    margin-top:50px;
    padding-top:20px;
    text-align:center;
    border-top:1px solid rgba(254,250,224,.15);
}
.footer-bottom p{

    margin:0;
    color:rgba(254,250,224,.7);
}
@media(max-width:768px){
    .footer{

        text-align:center;

    }

    .social-links{

        justify-content:center;

    }

    .contact-info li{

        justify-content:center;

    }
}